/* make the customizations */
$theme-colors: (
    "danger": #d9e1df,
    "success":#9fd9b3,
    "info": #e2d9db,
    "light": #f2e5f9,
    "dark": #f42a55,
    "warning": #fcd487,
    "primary": #fe6763,
    "secondary": #ff8a84,
);

.title-card {
    font-style: normal;
    font-weight: bold;
    color: #FC2B2B;
}

.letter{
    color: rgb(255, 255, 255);
}
.button-card {
    width: 120px;
    height: 50px;
    line-height: 50px;
    border: none;
    background: #FC2B2B;
    border-radius: 10px;
}
.button-card-right {
    width: 120px;
    height: 50px;
    line-height: 45px;
    background: #FFFFFF;
    border: 1px solid #B3AEAE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.shadow-text {
    text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,900&display=swap');

@import "~bootstrap/scss/bootstrap";